<div style="margin: 1.5em;">
    <div fxLayout="column" fxLayoutGap="1em">
        <span class="verticalcenter">
            <i class="material-icons">perm_device_information</i>
            Register your device
        </span>
        <p>
            Your device is not registered for secure cash services yet.
        </p>
        <p>
            Please click Register to create a unique private key.
        </p>
        <button *ngIf="!processing && !pair" mat-raised-button color="primary" (click)="register()">Register</button>
    </div>

    <div fxLayout="column" fxLayoutGap="10px">
        <span *ngIf="processing && !pair">Generating 2048-bit RSA key pair</span>
        <span *ngIf="processing && pair">Registering</span>
        <mat-spinner *ngIf="processing"></mat-spinner>
    </div>

</div>
